{% extends "main.html" %}
{% block main_body %}
{% load static %}
<!-- lodaer  -->
{% include "loader.html" %}
<!-- loader end  -->
<!-- main start  -->
<div id="main">
    <!-- header  -->
    {% include "header.html" %}
    <!--header end -->
    <!-- wrapper  -->
    <div id="wrapper">
        <!-- content  -->
        <div class="content">
            <!--  section  -->
            <section class="parallax-section hero-section hidden-section" data-scrollax-parent="true">
                <div class="bg par-elem " data-bg="{% static 'images/bg/1.jpg' %}" data-scrollax="properties: { translateY: '30%' }">
                </div>
                <div class="overlay"></div>
                <div class="container">
                    <div class="section-title">
                        <h2>
                            {% if request.session.lang == "uk" %}
                                Акції
                            {% elif request.session.lang == "ru" %}
                                Акции
                            {% else %}
                                Promotions
                            {% endif %}
                        </h2>
                        <!-- <h2>Our Journal</h2> -->
                        <div class="dots-separator fl-wrap"><span></span></div>
                    </div>
                </div>
                <div class="hero-section-scroll">
                    <div class="mousey">
                        <div class="scroller"></div>
                    </div>
                </div>
                <div class="brush-dec"></div>
            </section>
            <!--  section  end-->
            <!--  section  -->
            <section class="hidden-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="fl-wrap post-container">
                                <!-- post -->
                                {% if request.session.lang == "uk" %}
                                    {% for post in object_list %}
                                        <div class="post fl-wrap fw-post">
                                            <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                                            <ul class="blog-title-opt">
                                                <li><a href="#">{{ post.date_added|date:"SHORT_DATE_FORMAT" }}</a></li>
                                            </ul>
                                            <!-- blog media -->
                                            <div class="blog-media fl-wrap">
                                                <div class="single-slider-wrap">
                                                    <div class="single-slider fl-wrap">
                                                        <div class="swiper-container">
                                                            <div class="swiper-wrapper lightgallery">
                                                                <div class="swiper-slide hov_zoom">
                                                                    <img src="{{ post.proposition_photo.url }}" alt="">
                                                                    <a href="{{ post.proposition_photo.url }}"
                                                                        class="box-media-zoom   popup-image">
                                                                    </a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- blog media end -->
                                            <div class="blog-text fl-wrap">
                                                <div class="pr-tags fl-wrap">
                                                    <ul>
                                                        {% comment %}
                                                        <li><a href="#">{{ post.date_added|date:"SHORT_DATE_FORMAT" }}</a></li>
                                                        
                                                            <li> - </li>
                                                            {% for tag in post.tag.all %}
                                                            <li><a href="#">{{ tag.tag_name }} </a></li>
                                                            {% endfor %}
                                                        {% endcomment %}
                                                    </ul>
                                                </div>
                                                {% comment %}   
                                                    <p>
                                                        {{ post.short_description }}
                                                    </p>
                                                {% endcomment %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% elif request.session.lang == "ru" %}
                                    {% for post in object_list %}
                                        <div class="post fl-wrap fw-post">
                                            <h2><a href="{{ post.get_absolute_url }}">{{ post.title_ru }}</a></h2>
                                            <ul class="blog-title-opt">
                                                <li><a href="#">{{ post.date_added|date:"SHORT_DATE_FORMAT" }}</a></li>
                                            </ul>
                                            <!-- blog media -->
                                            <div class="blog-media fl-wrap">
                                                <div class="single-slider-wrap">
                                                    <div class="single-slider fl-wrap">
                                                        <div class="swiper-container">
                                                            <div class="swiper-wrapper lightgallery">
                                                                <div class="swiper-slide hov_zoom">
                                                                    <img src="{{ post.proposition_photo.url }}" alt="">
                                                                    <a href="{{ post.proposition_photo.url }}"
                                                                        class="box-media-zoom   popup-image">
                                                                    </a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- blog media end -->
                                            <div class="blog-text fl-wrap">
                                                <div class="pr-tags fl-wrap">
                                                    <ul>
                                                        {% comment %}
                                                        <li><a href="#">{{ post.date_added|date:"SHORT_DATE_FORMAT" }}</a></li>
                                                        
                                                            <li> - </li>
                                                            {% for tag in post.tag.all %}
                                                            <li><a href="#">{{ tag.tag_name }} </a></li>
                                                            {% endfor %}
                                                        {% endcomment %}
                                                    </ul>
                                                </div>
                                                {% comment %}   
                                                    <p>
                                                        {{ post.short_description }}
                                                    </p>
                                                {% endcomment %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    {% for post in object_list %}
                                        <div class="post fl-wrap fw-post">
                                            <h2><a href="{{ post.get_absolute_url }}">{{ post.title_eng  }}</a></h2>
                                            <ul class="blog-title-opt">
                                                <li><a href="#">{{ post.date_added|date:"SHORT_DATE_FORMAT" }}</a></li>
                                            </ul>
                                            <!-- blog media -->
                                            <div class="blog-media fl-wrap">
                                                <div class="single-slider-wrap">
                                                    <div class="single-slider fl-wrap">
                                                        <div class="swiper-container">
                                                            <div class="swiper-wrapper lightgallery">
                                                                <div class="swiper-slide hov_zoom">
                                                                    <img src="{{ post.proposition_photo.url }}" alt="">
                                                                    <a href="{{ post.proposition_photo.url }}"
                                                                        class="box-media-zoom   popup-image">
                                                                    </a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- blog media end -->
                                            <div class="blog-text fl-wrap">
                                                <div class="pr-tags fl-wrap">
                                                    <ul>

                                                        <li><a href="#">{{ post.date_added|date:"SHORT_DATE_FORMAT" }}</a></li>
                                                        {% comment %}
                                                            <li> - </li>
                                                            {% for tag in post.tag.all %}
                                                            <li><a href="#">{{ tag.tag_eng_name }} </a></li>
                                                            {% endfor %}
                                                        {% endcomment %}
                                                    </ul>
                                                </div>
                                                {% comment %}   
                                                    <p>
                                                        {{ post.short_description }}
                                                    </p>
                                                {% endcomment %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                {% if is_paginated %}
                                <div class="pagination fl-wrap" style="width:20%;">
                                    {% if page_obj.has_previous %}
                                    <a href="?page={{ page_obj.previous_page_number }}" class="prevposts-link"><i
                                            class="fal fa-long-arrow-left"></i></a>
                                    {% endif %}

                                    <a href="?page={{ page_obj.number }}" class="current-page">{{ page_obj.number }}</a>

                                    {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}" class="nextposts-link"><i
                                            class="fal fa-long-arrow-right"></i></a>
                                    {% endif %}
                                </div>
                                {% endif %}
                                <!--pagination end-->
                            </div>
                        </div>
                        <!--  sidebar  -->

                    </div>
                    <!--  sidebar end-->
                </div>
                <div class="section-bg">
                    <div class="bg" data-bg="{% static 'images/bg/dec/section-bg.png' %}"></div>
                </div>
            </section>
            <!--  section end  -->
            <div class="brush-dec2 brush-dec_bottom"></div>
        </div>
        <!-- content end  -->
        <!-- footer -->
        <div class="height-emulator fl-wrap"></div>
        {% include "footer.html" %}
        <!-- footer end-->
    </div>
    <!-- wrapper end -->
    {% include "reservation.html" %}
    <!-- cursor-->
    <div class="element">
        <div class="element-item"></div>
    </div>
    <!-- cursor end-->
</div>
<!-- Main end -->
<!--=============== scripts  ===============-->
{% endblock main_body %}