{% extends "main.html" %} {% block main_body %} {% load static %} {% load cart_template_tags %}
<!-- lodaer  -->
{% include "loader.html" %}

{% load js %}

<!-- loader end  -->
<!-- main start  -->
<div id="main">
    <!-- header  -->
    {% include "header.html" %}
    <!--header end -->
    <!-- wrapper  -->
    <div id="wrapper">
        <!-- content  -->
        <div class="content">
            <!--  section  -->
            <section class="parallax-section hero-section hidden-section" data-scrollax-parent="true">
                <div class="bg par-elem" data-bg="{% static 'images/bg/1.jpg' %}" data-scrollax="properties: { translateY: '30%' }"></div>
                <div class="overlay"></div>
                <div class="container">
                    <div class="section-title">
                        {% if request.session.lang == "uk" %}
                        <h4>Замовляйте їжу з доставкою додому</h4>
                        <h2>Процес оформлення замовлення</h2>
                        {% elif request.session.lang == "ru" %}
                        <h4>Заказывайте еду с доставкой домой</h4>
                        <h2>Процесс оформления заказа</h2>
                        {% else %}
                        <h4>Order food with home delivery</h4>
                        <h2>Checkout Process</h2>
                        {% endif %}
                        <div class="dots-separator fl-wrap"><span></span></div>
                    </div>
                </div>
                <div class="hero-section-scroll">
                    <div class="mousey">
                        <div class="scroller"></div>
                    </div>
                </div>
                <div class="brush-dec"></div>
            </section>
            <!--  section  end-->
            <!--  section  -->
            <section class="hidden-section">
                <div class="container">
                    <!-- CHECKOUT TABLE -->
                    <div class="row">
                        <div class="col-md-8">
                            <div class="check-out_wrap fl-wrap">
                                <h4 class="cart-title">
                                    {% if request.session.lang == "uk" %} Ваша інформація {% elif request.session.lang == "ru" %} Ваша информация {% else %} Your Information {% endif %}</h4>
                                <form class="custom-form" name="custom_form">
                                    <fieldset>
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-12 col-sm-6">
                                                <input type="text" required id="name" name="name" placeholder="{% if request.session.lang == "uk" %} Ваше ім'я {% elif request.session.lang == "ru" %} Ваше имя {% else %} Your Name {% endif %}*" value="" />
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <input type="text" required id="phone" name="phone" placeholder="{% if request.session.lang == "uk" %} Телефон {% elif request.session.lang == "ru" %} Телефон {% else %} Phone {% endif %}*" value="" />
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <input type="number" required id="person_amount" name="person_amount" placeholder="{% if request.session.lang == "uk" %} Кількість персон {% elif request.session.lang == "ru" %} Количество персон {% else %} Person amount {% endif %}*" value="" />
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <input type="text" required id="street_address" name="street_address" placeholder="{% if request.session.lang == "uk" %} Вулиця {% elif request.session.lang == "ru" %} Улица {% else %} Street address {% endif %}*" value="" />
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <input type="text" required id="apartment_address" name="apartment_address" placeholder="{% if request.session.lang == "uk" %} Адреса та квартира {% elif request.session.lang == "ru" %} Адрес и квартира {% else %} Apartment address {% endif %}*" value="" />
                                            </div>
                                            
                                            
                                            <div class="col-12 col-sm-6 float-left"  style="margin: 0 0 20px">
                                                <label class='mr float-left' for="need_learning_branch">{% if request.session.lang == "uk" %} Потрібні навчальні палички{% elif request.session.lang == "ru" %} Нужны учебные палочки {% else %} Need learning branch {% endif %}</label>
                                                <input type="checkbox" class='float-left' id="need_learning_branch" name="need_learning_branch" placeholder="{% if request.session.lang == "uk" %} Потрібні навчальні палички  {% else %} Need learning branch {% endif %}*" />
                                            </div>
                                            
                                            <div class="col-12 col-sm-8">
                                                <textarea name="comments" id="comments" cols="30" rows="3" placeholder="{% if request.session.lang == "uk" %} Коментар {% elif request.session.lang == "ru" %} Комментарий {% else %} Addtional Notes {% endif %}"></textarea>
                                            </div>
                                            <div class="col-12 col-sm-7" style="text-align:left;margin-top: 10px;">
                                                <label class='mr' for="dont_recall">{% if request.session.lang == "uk" %} Не передзвонювати {% elif request.session.lang == "ru" %} Не перезванивать {% else %} Dont recall {% endif %}</label>
                                                <input type="checkbox" id="dont_recall" name="dont_recall" placeholder="dont_recall  *" />
                                            </div>
                                            <div class="col-12 col-sm-6" style="margin-top: 20px;">
                                                <label class='mr' style="float: left;margin-bottom: 10px;margin-top: 20px;" for="payment_option"><h4 class="cart-title">{% if request.session.lang == "uk" %} Оберіть засіб сплати {% elif request.session.lang == "ru" %} Выберите способ оплаты {% else %} Choose payment way {% endif %}</h4></label>
                                                <select name="payment_option" class='nice-select chosen-select no-search-select' id="payment_option">
                                                    <option value="W">{% if request.session.lang == "uk" %} Карткою Visa\Mastercard {% elif request.session.lang == "ru" %} Картой Visa\Mastercard {% else %} Visa\Mastercard card {% endif %} WayForPay</option>
                                                    <option value="H">{% if request.session.lang == "uk" %} Готівкою {% elif request.session.lang == "ru" %} Наличными {% else %} Cash {% endif %}</option>
                                                </select>
                                            </div>
                                            <!-- <div class="col-sm-12">
                        <h4 class="cart-title">{% if request.session.lang == "uk" %} Засіб сплати {% else %} Payment method {% endif %}</h4>
                      </div>
                      <div class="col-sm-6">
                        <input type="text" placeholder="" value="Cardholder's Name" />
                      </div>
                      <div class="col-sm-6">
                        <input type="text" placeholder="Card Number" value="" />
                      </div>
                      <div class="col-sm-3">
                        <input type="text" placeholder="MM" value="" />
                      </div>
                      <div class="col-sm-3">
                        <input type="text" placeholder="YY" value="" />
                      </div>
                      <div class="col-sm-2">
                        <input type="password" placeholder="***" value="" />
                      </div>
                      <div class="col-sm-4">
                        <p style="padding-top: 20px; text-align: left; font-size: 10px">*Three digits number on the back of your card</p>
                      </div>
                    </div>-->
                                            <div class="clearfix"></div>
                                            <submit onclick="send_order_data()" class="btn color-bg float-left ml-11">{% if request.session.lang == "uk" %} Сплатити{% elif request.session.lang == "ru" %}Оплатить
                                                {% else %} Confirm and Pay {% endif %}<i class="fal fa-long-arrow-right"></i></submit>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!-- CART TOTALS  -->
                            {% if object.get_total %}
                            <div class="cart-totals dark-bg fl-wrap">
                                <h3>{% if request.session.lang == "uk" %} Підсумок картки {% else %} Cart totals {% endif %}</h3>
                                <table class="total-table">
                                    <tbody>
                                        <tr>
                                            <th>{% if request.session.lang == "uk" %} Перед підсумок: {% else %} Before the result: {% endif %}</th>
                                            <td>₴{{ request|total_order }}</td>
                                        </tr>
                                        <!-- <tr>
                                                            <th>Shipping Total:</th>
                                                            <td>₴12.00</td>
                                                        </tr> -->
                                        <tr>
                                            <th>{% if request.session.lang == "uk" %} Усього: {% else %} Total: {% endif %}</th>
                                            <td>₴{{ object.get_total }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button type="submit" class="cart-totals_btn color-bg"><a href="/checkout/"> {% if request.session.lang == "uk" %} Перейти до сплати {% else %} Proceed to checkout {% endif %}</a></button>
                            </div>
                            {% endif %}
                            <!-- /CART TOTALS  -->
                        </div>
                    </div>
                    <!-- /CHECKOUT TABLE -->


                    {{ widget|safe }}

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script id='widget-wfp-script' language='javascript' type='text/javascript' src='https://secure.wayforpay.com/server/pay-widget.js'></script>
                
            </section>
            <!--  section end  -->
            <div class="brush-dec2 brush-dec_bottom"></div>
        </div>
        <!-- content end  -->
        <!-- footer -->
        <div class="height-emulator fl-wrap"></div>
        {% include "footer.html" %}
        <!-- footer end-->
    </div>
    <!-- wrapper end -->
    {% include "reservation.html" %}
    <!-- cursor-->
    <div class="element">
        <div class="element-item"></div>
    </div>
    <!-- cursor end-->
</div>
<!-- Main end -->
{% endblock main_body %}