{% extends "main.html" %}
{% block main_body %}
{% load static %}
        <!-- lodaer  -->
        {% include "loader.html" %}
        <!-- loader end  -->
        <!-- main start  -->
        <div id="main">
            <!-- cs-content-container -->
            <div class="cs-content-container">
                <a href="index.html" class="cs-logo"><img src="images/logo2.png" alt=""></a>
                <div class="cs-content-wrapper">
                    <h3>Under Construction</h3>
                    <h2>Our Website is Coming Soon</h2>
                    <div class="cs-subcribe-form subcribe-form fl-wrap">
                        <p>Sign up now to our newsletter and you will be one of the first know
                            when our   new website as ready
                        </p>
                        <form id="subscribe" class="fl-wrap">
                            <input class="enteremail" name="email" id="subscribe-email" placeholder="Your Email" spellcheck="false" type="text">
                            <button type="submit" id="subscribe-button" class="subscribe-button color-bg">Send </button>
                            <label for="subscribe-email" class="subscribe-message"></label>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                    <div class="bold-separator"><span></span></div>
                    <div class="clearfix"></div>
                    <div class="cs-social">
                        <ul>
                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="illustration_bg">
                    <div class="bg"  data-bg="images/bg/dec/cs-bg.png"></div>
                </div>
            </div>
            <!-- cs-content-container end-->
            <!-- cs-media -->
            <div class="cs-media">
                <!--hero_promo-wrap-->
                <div class="hero_promo-wrap">
                    <div class="hero_promo-button">
                        <a href="https://vimeo.com/10322316" class="image-popup"><i class="fas fa-play"></i></a>
                    </div>
                    <div class="hero_promo-title">
                        <h4>View Promo Video</h4>
                    </div>
                </div>
                <!--hero_promo-wrap end-->                
                <div class="cs-reserv_btn btn hero_btn show-rb">Table Reservation <i class="fal fa-long-arrow-right"></i></div>
                <!-- cs-media-container -->
                <div class="cs-media-container counter-widget fl-wrap" data-countDate="09/12/2021">
                    <!-- countdown -->
                    <div class="countdown">
                        <div class="cs-countdown-item">
                            <span class="days rot">00</span>
                            <p>Days</p>
                        </div>
                        <div class="cs-countdown-item">
                            <span class="hours rot">00</span>
                            <p>Hours </p>
                        </div>
                        <div class="cs-countdown-item">
                            <span class="minutes rot2">00</span>
                            <p>Minutes </p>
                        </div>
                        <div class="cs-countdown-item no-dec">
                            <span class="seconds rot2">00</span>
                            <p>Seconds</p>
                        </div>
                    </div>
                    <!-- countdown end -->                    
                </div>
                <!--cs-media-container end -->
                <!-- cs-contacts --> 
                <div class="cs-contacts">
                    <ul>
                        <li><span>Call :</span><a href="#">+489756412322</a></li>
                        <li><span>Write  :</span><a href="#">yourmail@domain.com</a></li>
                        <li><span>Find us : </span><a href="#">USA 27TH Brooklyn NY</a></li>
                    </ul>
                </div>
                <!-- cs-contacts end --> 
                <!--multi-slideshow-wrap_1 -->
                <div class="multi-slideshow-wrap_fs">
                    <div class="full-height fl-wrap">
                        <!--ms-container-->
                        <div class="multi-slideshow_fs ms-container fl-wrap full-height">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <!--ms_item-->
                                    <div class="swiper-slide">
                                        <div class="ms-item_fs fl-wrap">
                                            <div class="bg" data-bg="{% static 'images/bg/1.jpg' %}"></div>
                                            <div class="overlay"></div>
                                        </div>
                                    </div>
                                    <!--ms_item end-->
                                    <!--ms_item-->
                                    <div class="swiper-slide ">
                                        <div class="ms-item_fs fl-wrap">
                                            <div class="bg" data-bg="{% static 'images/bg/1.jpg' %}"></div>
                                            <div class="overlay"></div>
                                        </div>
                                    </div>
                                    <!--ms_item end-->
                                    <!--ms_item-->
                                    <div class="swiper-slide">
                                        <div class="ms-item_fs fl-wrap">
                                            <div class="bg" data-bg="{% static 'images/bg/1.jpg' %}"></div>
                                            <div class="overlay"></div>
                                        </div>
                                    </div>
                                    <!--ms_item end-->                                                 
                                </div>
                            </div>
                        </div>
                        <!--ms-container end-->
                    </div>
                    <div class="hiddec-anim"></div>
                </div>
                <!--multi-slideshow-wrap_1 end-->                
            </div>
            <!-- cs-media end-->
            {% include "footer.html" %}
            <!-- cursor-->
            <div class="element">
                <div class="element-item"></div>
            </div>
            <!-- cursor end-->                                                    
        </div>
        <!-- Main end -->
        {% endblock main_body %}
          