{% extends "main.html" %} {% block main_body %} {% load static %}
{% load cart_template_tags %}
<!-- lodaer  -->
{% include "loader.html" %}
<!-- loader end  -->
<!-- main start  -->
<style>
	.cust-paginator {
		width: 23%;
	}

	@media only screen and (max-width: 450px) {
		.cust-paginator {
			width: 49%;
		}
	}
</style>
<div id="main">
	<!-- header  -->
	{% include "header.html" %}
	<!--header end -->
	<!-- wrapper  -->
	<div id="wrapper">
		<!-- content  -->
		<div class="content">
			<!--  section  -->
			<section class="parallax-section hero-section hidden-section" data-scrollax-parent="true">
				<div class="bg par-elem" data-bg='{% static "images/bg/1.jpg" %}'
					data-scrollax="properties: { translateY: '30%' }"></div>
				<div class="overlay"></div>
				<div class="container">
					<div class="section-title">
						{% if request.session.lang == "uk" %}
						<h4>Замовляй їжу з нашим сервісом</h4>
						<h2>Наш магазин</h2>
						{% elif request.session.lang == "ru" %}
						<h4>Заказывай еду с нашим сервисом</h4>
						<h2>Наш магазин</h2>
						{% else %}
						<h4>Order food with our service</h4>
						<h2>Our shop</h2>
						{% endif %}

						<div class="dots-separator fl-wrap"><span></span></div>
					</div>
				</div>
				<div class="hero-section-scroll">
					<div class="mousey">
						<div class="scroller"></div>
					</div>
				</div>
				<div class="brush-dec"></div>
			</section>
			<!--  section  end-->
			<!--  section  -->
			<section class="hidden-section">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<div class="fl-wrap post-container">
								<div class="shop-header fl-wrap"></div>
								<!-- gallery start -->
								<div class="gallery-items grid-big-pad lightgallery two-column fl-wrap">
									<!-- gallery-item-->
									{% if items %}
									{% if request.session.lang == "uk" %}
									{% for item in items %}
									<div class="gallery-item {{ item.category.label }}">
										<a href="{{ item.get_absolute_url }}">
											<div class="grid-item-holder hov_zoom">
												<img src="{{ item.image.url }}" alt="" />
											</div>
										</a>
										<div class="grid-item-details">
											<a href="{{ item.get_absolute_url }}">
												<h3>{{ item.title }}</h3>
											</a>
											<p>{{ item.description }}</p>
											<div class="grid-item_price">
												{% if item.discount_price %}
												<span><span style="font-family: Poppins, sans-serif;">₴</span>{ item.discount_price }}</span>
												{% else %}
												<span><span style="font-family: Poppins, sans-serif;">₴</span>{{ item.price }}</span>
												{% endif %}
												<a href="{{ item.get_add_to_cart_url }}" class="add_cart">Замовити</a>
											</div>
										</div>
									</div>
									{% endfor %}
									{% elif request.session.lang == "ru" %}
									{% for item in items %}
									<div class="gallery-item {{ item.category.label }}">
										<a href="{{ item.get_absolute_url }}">
											<div class="grid-item-holder hov_zoom">
												<img src="{{ item.image.url }}" alt="" />
											</div>
										</a>
										<div class="grid-item-details">
											<a href="{{ item.get_absolute_url }}">
												<h3>{{ item.title_ru }}</h3>
											</a>
											<p>{{ item.ru_description }}</p>
											<div class="grid-item_price">
												{% if item.discount_price %}
												<span><span style="font-family: Poppins, sans-serif;">₴</span>{{ item.discount_price }}</span>
												{% else %}
												<span><span style="font-family: Poppins, sans-serif;">₴</span>{{ item.price }}</span>
												{% endif %}
												<a href="{{ item.get_add_to_cart_url }}" class="add_cart">Заказать</a>
											</div>
										</div>
									</div>
									{% endfor %}
									{% else %}
									{% for item in items %}
									<div class="gallery-item {{ item.category.label }}">
										<a href="{{ item.get_absolute_url }}">
											<div class="grid-item-holder hov_zoom">
												<img src="{{ item.image.url }}" alt="" />
											</div>
										</a>
										<div class="grid-item-details">
											<a href="{{ item.get_absolute_url }}">
												<h3>{{ item.title_eng }}</h3>
											</a>
											<p>{{ item.english_description }}</p>
											<div class="grid-item_price">
												{% if item.discount_price %}
												<span><span style="font-family: Poppins, sans-serif;">₴</span>{{ item.discount_price }}</span>
												{% else %}
												<span><span style="font-family: Poppins, sans-serif;">₴</span>{{ item.price }}</span>
												{% endif %}
												<a href="{{ item.get_add_to_cart_url }}" class="add_cart">Add to
													cart</a>
											</div>
										</div>
									</div>
									{% endfor %}
									{% endif %}
									{% else %}
									{% for item in object_list %}
									<div class="gallery-item {{ item.get_label_display }}">
										<a href="{{ item.get_absolute_url }}">
											<div class="grid-item-holder hov_zoom">
												<img src="{{ item.image.url }}" alt="" />
											</div>
										</a>
										<div class="grid-item-details">
											<a href="{{ item.get_absolute_url }}">
												{% if request.session.lang == "uk" %}
												<h3>{{ item.title }}</h3>
												{% elif request.session.lang == "ru" %}
												<h3>{{ item.title_ru }}</h3>
												{% else %}
												<h3>{{ item.title_eng }}</h3>
												{% endif %}


											</a>
											<p>{{ item.description }}</p>
											<div class="grid-item_price">
												{% if item.discount_price %}
												<span><span style="font-family: Poppins, sans-serif;">₴</span>{{ item.discount_price }}</span>
												{% else %}
												<span><span style="font-family: Poppins, sans-serif;">₴</span>{{ item.price }}</span>
												{% endif %}
												<a href="{{ item.get_add_to_cart_url }}"
													class="add_cart">{% if request.session.lang == "uk" %}
													Замовити
													{% elif request.session.lang == "ru" %}
													Заказать
													{% else %} Add to cart {% endif %}</a>
											</div>
										</div>
									</div>
									{% endfor %} {% endif %}
									<!-- gallery-item end-->
								</div>
								<!-- gallery end -->
								<!--pagination-->
								{% if is_paginated %}
								<div class="pagination fl-wrap cust-paginator">
									{% if page_obj.has_previous %}
									<a href="?page={{ page_obj.previous_page_number }}" class="prevposts-link"><i
											class="fal fa-long-arrow-left"></i></a>
									{% endif %}

									<a href="?page={{ page_obj.number }}" class="current-page">{{ page_obj.number }}</a>

									{% if page_obj.has_next %}
									<a href="?page={{ page_obj.next_page_number }}" class="nextposts-link"><i
											class="fal fa-long-arrow-right"></i></a>
									{% endif %}
								</div>
								{% endif %}
								<!--pagination end-->
							</div>
						</div>
						<!--  sidebar  -->
						<div class="col-md-4">
							<!-- main-sidebar -->
							<div class="main-sidebar fixed-bar fl-wrap">
								<!-- main-sidebar-widget-->
								<div class="main-sidebar-widget fl-wrap">
									<h3>
										{% if request.session.lang == "uk" %} Компоненти
										{% elif request.session.lang == "ru" %} Компоненты {% else %}
										Components {% endif %}
									</h3>
									<div class="tags-widget">
										<div class="tagcloud">
											{% if request.session.lang == "uk" %}
											{% for tag in request|product_tags %}
											<a href="{% url 'core:shop-product' tag.slug %}">{{ tag.item_tag_name }}</a>
											{% endfor %}
											{% elif request.session.lang == "ru" %}
											{% for tag in request|product_tags %}
											<a
												href="{% url 'core:shop-product' tag.slug %}">{{ tag.item_tag_ru_name }}</a>
											{% endfor %}
											{% else %}
											{% for tag in request|product_tags%}
											<a
												href="{% url 'core:shop-product' tag.slug %}">{{ tag.item_tag_eng_name }}</a>
											{% endfor %}
											{% endif %}
										</div>
									</div>
								</div>
								<!-- main-sidebar-widget end-->
							</div>
							<!-- main-sidebar end-->
						</div>
						<!--  sidebar end-->
					</div>
					<div class="fl-wrap limit-box"></div>
				</div>
				<div class="section-bg">
					<div class="bg" data-bg="images/bg/dec/section-bg.png"></div>
				</div>
			</section>
			<!--  section end  -->
			<div class="brush-dec2 brush-dec_bottom"></div>
		</div>
		<!-- content end  -->
		<!-- footer -->
		<div class="height-emulator fl-wrap"></div>
		{% include "footer.html" %}
		<!-- footer end-->
	</div>
	<!-- wrapper end -->
	{% include "reservation.html" %}
	<!-- cursor-->
	<div class="element">
		<div class="element-item"></div>
	</div>
	<!-- cursor end-->
</div>
<!-- Main end -->
<!--=============== scripts  ===============-->
{% endblock main_body %}